 <h2><%= @pin.title %></h2>
<%= @pin.description %></br>

<%= link_to "Back", root_path%>
<%= link_to "Edit", edit_pin_path %></br>
<%= link_to "Delete", pin_path(@pin), method: :delete, data: {confirm: "Are you Sure?"}


